.intro-ng-logo {
	background: url(//angular.io/resources/images/logos/standard/shield-large@2x.png) center center no-repeat; 
	height: 400px;
}

ul.nav a:hover {
	cursor: pointer;
}

.child .label {
	color: #333;
}
.child .label:hover {
	cursor: pointer;
}
.child h4 a:hover {
	cursor: pointer;
}