<div class="child">
	<h4>
		<span ng-click="ctrl.openChild()" class="label">{{name}}</span>
		<a class="pull-right" ui-sref="children.details({child: name})"><span class="glyphicon glyphicon-info-sign"></span></a>
	</h4>
	<div ng-show="ctrl.selected">
		<table class="table">
			<thead>
				<tr>
					<th>Day</th>
					<th>Present?</th>
					<th>Soup?</th>
					<th>Lunch?</th>
					<th>Dessert?</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(day, details) in ctrl.days">
					<td>
						{{day}}
					</td>
					<td>
						<input type="checkbox" ng-model="details.present" />
					</td>
					<td>
						<input type="checkbox" ng-model="details.soup" ng-if="details.present" />
					</td>
					<td>
						<input type="checkbox" ng-model="details.lunch" ng-if="details.present" />
					</td>
					<td>
						<input type="checkbox" ng-model="details.dessert" ng-if="details.present" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>