<div class="child">
	<h4>
		<span ng-click="ctrl.openChild()" class="label">{{child.name}}</span>
		<a class="pull-right" ui-sref="details({child: key})"><span class="glyphicon glyphicon-info-sign"></span></a>
	</h4>
	<div ng-show="ctrl.selected">
		<table class="table">
			<thead>
				<tr>
					<th>Day</th>
					<th>Present?</th>
					<th>Soup?</th>
					<th>Lunch?</th>
					<th>Dessert?</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(day, details) in ctrl.days">
					<td>
						{{day}}
					</td>
					<td>
						<input type="checkbox" ng-model="child.details[day].present" />
					</td>
					<td>
						<input type="checkbox" ng-model="child.details[day].soup" ng-if="child.details[day].present" />
					</td>
					<td>
						<input type="checkbox" ng-model="child.details[day].lunch" ng-if="child.details[day].present" />
					</td>
					<td>
						<input type="checkbox" ng-model="child.details[day].dessert" ng-if="child.details[day].present" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>